* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font: "Arial Black", Gadget, sans-serif;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

a img {
    border: none;
}

.clr {
    clear: both;
}

.box {
    padding-left: 0px;
    padding-right: 0px;
}

/*Logo-Strip*/
.logo-main {

    width: 100%;
    height: auto;
    border-bottom: 2px solid rgba(51, 51, 51, 0.384);
    padding: 10px 0;

    background: url("./img/blue-curve-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 100px 0px;
}

.logo-innar {
    width: 100%;
    height: auto;
}

.logo-innar h1 {
    font-size: 20px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.logo-innar h2 {
    font-size: 24px;
    color: #000;
    font-family: 'Muli', sans-serif;
    text-align: center;
    line-height: 25px;
    margin: 0px 0px 10px 0px;
    /* text-transform: uppercase; */
    font-weight: 600;
    /* letter-spacing: 1px; */
}

.logo-innar h3 {
    font-size: 14px;
    color: #262626;
    font-family: 'Muli', sans-serif;
    text-align: center;
    line-height: 25px;
    margin: 0px 0px 10px 0px;
    /* text-transform: uppercase; */
    font-weight: 600;
    /* letter-spacing: 1px; */
}

.logo-innar p {
    font-size: 14px;
    color: #005388;
    text-align: center;
    /* line-height: 18px; */
    font-family: "Open Sans";
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    /* padding: 0 240px; */
}

.logo-left {
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.logo-left-image {
    width: 100%;
    height: auto;
}

.logo-left-image img {
    width: 140px;
    height: auto;
}

.logo-right {
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.logo-right-image {
    width: 100%;
    /*	height: 150px;*/
}

.logo-right-image img {
    width: 140px;
    height: auto;
    /*	width: 260px; */
}

/*Logo-Strip*/



/*navigation-section*/
.navigation-main {
    width: 100%;
    height: auto;
    /*background: #005388;*/
}

/*navigation-section*/


/*banner-section*/
.banner-main {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /*	background: url(../images/blue-background.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;*/
    background-color: #f5f5f5;
}

/*banner*/

.banner {
    width: 100%;
    height: auto !important;
    margin: auto;
    position: relative;
    padding: 10px;
    /*border: 1px solid #fff;*/
    box-shadow: 0px 0px 10px 0px #ccc;
}

.banner img {
    width: 100%;
    height: auto !important;
    margin: auto;
}

.banner-size {
    height: 54vh !important;
}

.banner-size img {
    height: auto !important;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: 50%;
    z-index: 9999999;
}

.right.carousel-control {
    right: 1%;
    left: inherit;
}

.left.carousel-control {
    right: inherit;
    left: 1%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 40px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
    top: 50%;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.carousel-content {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    z-index: 9999;
    margin: auto;
    display: none;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-content ul {
    padding: 0;
    margin: 0;
}

.carousel-content ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.carousel-content ul li a {
    font-size: 12px;
    color: #fff;
    background: #0C0;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
}

.carousel-content ul li:hover a {
    background: #00a500;
}

/*banner-section*/


/*footer-section*/
.footer-main {
    width: 100%;
    height: auto;
    background: url(../images/blue-background.jpg);
    padding: 8px 0;
    background-position: left center;
}

.footer-left {
    width: 50%;
    height: auto;
    float: left;
}

.footer-right {
    width: 50%;
    height: auto;
    float: right;
}

.footer-innar {
    width: 100%;
    height: auto;
}

.footer-innar h1 {
    font-size: 14px;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

.footer-innar h2 {
    font-size: 14px;
    color: #fff;
    text-align: right;
    font-family: 'Muli', sans-serif;
}

/*footer-section*/
/*side-right-link*/
.side-right-link {
    width: 40px;
    height: 220px;
    position: fixed;
    margin-top: 0px;
    right: 0px;
    z-index: 99999;
}

.side-right-link ul {
    margin: 0px;
    padding: 0px;
}

.side-right-link ul li {
    list-style-type: none;
}

.side-right-link li a {
    display: block;
    height: 40px;
    width: 40px;
    background: #666;
    border-bottom: 1px solid #fff;
    font: normal normal normal 16px/20px 'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background 0.5s ease 0.3ms;
}

.side-right-link li:first-child a {
    border-radius: 5px 0 0 0;
}

.side-right-link li:last-child a {
    border-radius: 0 0 0 5px;
}

.side-right-link li a span {
    width: 300px;
    float: right;
    text-align: center;
    background: #625A57;
    color: #fff;
    margin: -25px 60px;
    padding: 5px;
    transform-origin: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 0px;
    transition: all 0.5s ease 0.3ms;
    font: 14px "open Sans";
}

.side-right-link li span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: -20px;
    top: 3px;
    border-left: 10px solid #625A57;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

.side-right-link li a:hover span {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0);
}

/*side-right-link*/









/*about-page*/
.about-innar {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    background: #fff;
    padding: 15px 0;
}

.about-innar-content {
    width: 100%;
    height: auto;
}

.about-innar-content h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.about-innar-content hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-innar-content p {
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 0px;
}

.about-innar-content p img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 20px;

}

.about-innar-content p a {
    font-family: "Open Sans";
    font-size: 13px;
}

.about-innar-content h2 {
    font-family: "Open Sans";
    font-size: 13px;
    color: #005388;
    text-align: justify;
    line-height: 20px;
    margin-left: 20px;
    margin: 10px 10px;

}

/*.about-innar-content ul {
	padding: 0;
	margin: 0;
}
.about-innar-content ul li {
	font-family: "Open Sans";
	font-size: 13px;
	color: #005388;
	text-align: justify;
	line-height: 25px;
	margin-left: 30px;
	margin-bottom: 10px;
}*/



/*.conference-innar-content ul {
	padding: 0;
	margin: 0;
}*/
.about-innar-content h6 {
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    /*text-align: justify;*/
    line-height: 25px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.about-innar-content h6 a {
    font-size: 13px;
    color: red;
}

.about-innar-content ul li {
    display: inline-block;
    /* margin-left: 30px; */
    width: 100%;
    border-bottom: 1px dashed #ccc;
    transition: .5s;
    position: relative;
    overflow: hidden;
    padding: 5px 10px;
}

.about-innar-content ul li p {
    float: left;
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    text-align: justify;
    width: 50%;
    margin: 0;
}

.about-innar-content ul li a {
    float: right;
    font-family: "Open Sans";
    font-size: 13px;
    color: #005388;
    text-align: justify;
    width: 50%;
    margin: 0;
    display: block;
    z-index: 9999;
}

.about-innar-content ul li:Hover a:after {
    transition: .5s;
    transform: rotateY(0deg);
}

.about-innar-content ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    background: rgba(0, 83, 136, 0.5);
    z-index: 1;
    transform: rotateY(90deg);
}

.about-innar-content table {
    width: 100%;
    height: auto;
}

.about-innar-content table tr {
    border: 1px solid #ccc;
}

.about-innar-content table tr:hover td {
    transition: .5s;
    padding-left: 15px;
    color: red;
}

.about-innar-content table tr th {
    width: 50%;
    height: auto;
    padding: 10px 10px;
    font-size: 15px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
    border-bottom: 2px solid #005388 !important;
    border: 1px solid #ccc;
    transition: .5s;
}

.about-innar-content table tr td {
    height: auto;
    padding: 10px 10px;
    font-size: 14px;
    color: #444;
    font-family: "Open Sans";
    line-height: 23px;
    text-align: justify;
    border: 1px solid #ccc;
    transition: .5s;
    width: 30% !important;
}

/*about-page*/



/*Committees-Section*/
.committees-innar {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #dbf1ff;
    padding-left: 10px;
    transition: .5s;
    margin-bottom: 10px;
}

.committees-innar:hover .committees-left-image:before {
    left: 150%;
    transition: .5s;
}

.committees-innar:hover .committees-left-image img {
    transition: .5s;
    transform: scale(1.1);
}

.committees-left {
    width: 15%;
    height: auto;
    float: left;
}

.committees-left-image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.committees-left-image:before {
    width: 50%;
    height: 100%;
    content: '';
    top: 0;
    transform: skew(30deg);
    background-color: rgba(255, 255, 255, 0.4);
    left: -100%;
    position: absolute;
    transition: .5s;
    z-index: 9999;
}

.committees-left-image img {
    width: 100%;
    height: auto;
    transition: .5s;
}

.committees-right {
    width: 85%;
    height: auto;
    float: right;
    padding-left: 10px;
}

.committees-right h2 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #444;
    /* line-height: 28px; */
    margin-bottom: 10px;
    /* text-align: center; */
    font-weight: 600;
    margin-top: 0px;
}

.committees-right p {
    font-family: "Open Sans";
    font-size: 14px;
    color: #262626;
    /* text-align: center; */
    line-height: 24px;
    margin-bottom: 5px;
}

.committees-right p span {
    font-size: 13px;
    color: #aaa;
    font-family: "Open Sans";
    text-align: center;
    line-height: 22px;
}


/*Committees-Section*/




/*about-page-2*/

.about-innar-1 {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    background: #fff;
    padding: 15px 0;
}

.about-innar-1-content {
    width: 100%;
    height: auto;
}

/*.about-innar-1-content img {
	width: 100px;
	height: 100px;
	margin-bottom: 8px;
}*/
.about-innar-1-content-map {
    width: 100%;
    height: auto;
}

.about-innar-1-content-map iframe {
    width: 100%;
    height: 200px;
}

.about-innar-1-content h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.about-innar-1-content h2 {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.about-innar-1-content hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-innar-1-content p {
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 15px;
}

.about-innar-1-content p a {
    font-family: "Open Sans";
    font-size: 13px;
}

.about-innar-1-content p span {
    color: red;
    font-weight: 500;
    margin-right: 5px;
}

.about-innar-1-content ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.about-innar-1-content ul li {
    display: inline-block;
    /* margin-left: 30px; */
    width: 100%;
    border-bottom: 1px dashed #ccc;
    transition: .5s;
    position: relative;
    overflow: hidden;
    padding: 5px 10px;
}

.about-innar-1-content ul li p {
    float: left;
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    text-align: justify;
    width: 50%;
    margin: 0;
}

.about-innar-1-content ul li a {
    float: right;
    font-family: "Open Sans";
    font-size: 13px;
    color: #005388;
    text-align: justify;
    width: 50%;
    margin: 0;
    display: block;
    z-index: 9999;
}

.about-innar-1-content ul li:Hover a:after {
    transition: .5s;
    transform: rotateY(0deg);
}

.about-innar-1-content ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    background: rgba(0, 83, 136, 0.5);
    z-index: 1;
    transform: rotateY(90deg);
}

.about-innar-1-content table {
    width: 100%;
    height: auto;
}

.about-innar-1-content table tr {
    border: 1px solid #ccc;
}

.about-innar-1-content table tr:hover td {
    transition: .5s;
    color: #fff;
    background: rgb(0, 83, 136, 0.5);
}

.about-innar-1-content table tr td {
    width: 33%;
    height: auto;
    padding: 10px 10px;
    font-size: 14px;
    color: #444;
    font-family: "Open Sans";
    line-height: 23px;
    text-align: justify;
    border: 1px solid #ccc;
    transition: .5s;
}

/*about-page-2*/










/*important-dates-page*/
.dates-innar {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    background: #fff;
    padding: 25px;
}

.dates-innar h1 {
    font-size: 20px;
    color: #23477b;
    font-family: 'Muli', sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.dates-innar table {
    width: 100%;
    height: auto;
}

.dates-innar table tr {
    border-bottom: 1px dashed #ccc;
    transition: .5s;
}

.dates-innar table tr:hover td {
    color: #006fec;
    transition: .5s;
}

.dates-innar table th {
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    width: 50%;
}

.dates-innar table td {
    padding: 15px 0;
    font-family: "Open Sans";
    color: #262626;
    font-size: 14px;
    width: 50%;
    transition: .5s;
}

/*important-dates-page*/




/*registration-page-section*/
.registration-innar {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    background: #fff;
    padding: 25px;
}

.registration-innar p {
    font-size: 14px;
    color: #262626;
    margin-bottom: 20px;
    line-height: 25px;
    margin-top: 10px;
    font-family: "Open Sans";
}

.registration-innar a {
    font-size: 14px;
    color: #fff;
    background: #204e82;
    font-family: "Open Sans";
    padding: 10px;
    transition: .5s;
    border: 1px solid #204e82;
    border-radius: 5px;
}

.registration-innar:hover a {
    color: #204e82;
    background: #fff;
    border: 1px solid #204e82;
    transition: .5s;
}

.registration-innar p span {
    color: red;
}

.registration-innar table {
    width: 100%;
    height: auto;
}

.registration-innar table tr {
    border-bottom: 1px dashed #ccc;
    transition: .5s;
}

.registration-innar table tr:hover td {
    color: #006fec;
    transition: .5s;
}

.registration-innar table th {
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    width: 50%;
}

.registration-innar table td {
    padding: 15px 0;
    padding-right: 0px;
    font-family: "Open Sans";
    color: #262626;
    font-size: 14px;
    width: 60%;
    transition: .5s;
}

/*registration-page-section*/


/*contact-page-section*/
.contact-innar {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    background: #fff;
    padding: 15px 0;
    margin-bottom: 40px;
}

.contact-innar-image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.contact-innar-image img {
    width: 100%;
    height: 300px;
    transition: .5s;
}

.contact-innar-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: rgba(0, 83, 136, 0.5);
    transform: skew(30deg);
    z-index: 99;
    transition: .5s;
}

.contact-innar:hover .contact-innar-image:before {
    transition: .5s;
    left: 150%;
}

.contact-innar:hover .contact-innar-image img {
    transition: .5s;
    transform: scale(1.1);
}

.contact-innar h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.contact-innar hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-innar-2 {
    width: 100%;
    height: auto;
    padding: 0 15px;
}

.contact-innar-2 h2 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    margin-top: 0;
}

.contact-innar-2 p {
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    text-align: justify;
    line-height: 25px;
    /* margin-bottom: 0; */
    margin: 5px 10px;
}

/*contact-page-section*/


/*venue-page-section*/
.venue-innar {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    background: #fff;
    padding: 25px;
    margin-bottom: 40px;
}

.venue-innar h1 {
    font-size: 24px;
    color: #0e3461;
    font-family: 'Muli', sans-serif;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.venue-innar p {
    font-size: 14px;
    color: #262626;
    font-family: "Open Sans";
    margin: 10px 0;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 20px;
}

.venue-innar-left {
    width: 50%;
    height: auto;
    float: left;
    padding: 0px 30px 0px 0px;
}

.venue-innar-left h2 {
    font-size: 24px;
    color: #0e3461;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.venue-innar-left h2 i {
    color: #000;
    font-size: 20px;
    margin-right: 5px;
}

.venue-innar-left p {
    font-size: 14px;
    color: #262626;
    font-family: "Open Sans";
    margin: 10px 0;
    line-height: 25px;
    text-align: justify;
}

.venue-innar-left p span {
    color: red;
}

.venue-innar-left-map {
    width: 100%;
    height: auto;
}

.venue-innar-left-map iframe {
    width: 100%;
    height: 200px;
}

.venue-innar-right {
    width: 50%;
    height: auto;
    float: right;
}

.venue-innar-right h2 {
    font-size: 24px;
    color: #0e3461;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.venue-innar-right h2 i {
    color: #000;
    font-size: 20px;
    margin-right: 5px;
}

.venue-innar-right p {
    font-size: 14px;
    color: #262626;
    font-family: "Open Sans";
    margin: 10px 0;
    text-align: justify;
    line-height: 25px;
}

/*venue-page-section*/




/*conference-page-section*/
.conference-innar-image {
    width: 150px;
    height: 50px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    margin: auto;
    margin-top: 20px;
}

.conference-innar-image img {
    width: 100%;
    height: 50px;
    transition: .5s;
}

.conference-innar-image:hover img {
    transition: .5s;
    transform: scale(1.1);
}

.conference-innar-content {
    width: 100%;
    height: auto;
}

.conference-innar-content h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.conference-innar-content hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.conference-innar-content ul {
    padding: 0;
    margin: 0;
}

.conference-innar-content ul li {
    font-family: "Open Sans";
    font-size: 13px;
    color: #262626;
    /*text-align: justify;*/
    line-height: 25px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.conference-innar-content ul li a {
    font-size: 13px;
    color: red;
}

/*conference-page-section*/

/*Radio*/




.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30%;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input~.checkmark {
    background-color: #aaa;
}

/* When the radio button is checked, add a blue background */
.radio input:checked~.checkmark {
    background-color: #005388;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/*Radio*/


/*keynote-section*/


.speakers-innar-1 {
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 40px;
    background: #fff;
}

.speakers-innar-1 h1 {
    font-size: 14px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
}

.speakers-innar-1 hr {
    width: 100%;
    height: 2px;
    background: #ccc;
    margin-bottom: 15px;
    margin-top: 15px;
}

.speakers-innar-1 ul {
    padding: 0;
    margin: 0;
}

.speakers-innar-1 ul li {
    list-style: none;
    display: inline-block;
    width: 24.1%;
    height: auto;
    padding: 10px;
    background: #dbf1ff;
    position: relative;
    overflow: hidden;
    margin: 0px 2px;
}

.speakers-innar-1 ul li:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: -150%;
    transform: skew(30deg);
    transition: .5s;
    z-index: 9999;
}

.speakers-innar-1 ul li:hover:before {
    left: 150%;
    transition: .5s;
}

.speakers-innar-1 ul li:hover p {
    transition: .5s;
    color: #005388;
}

.speakers-innar-1 ul li img {
    width: 100%;
    height: 185px;
}

.speakers-innar-1 ul li p {
    font-size: 14px;
    color: #444;
    font-family: "Open Sans";
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    transition: .5s;
}

.speakers-innar-1 ul li p span {
    font-size: 13px;
    color: #aaa;
    font-weight: 100;
    font-family: "Open Sans";
}

.speakers-innar-1 ul li p a {
    font-size: 13px;
    color: #fff;
    background: #005388;
    padding: 5px;
    font-family: "Open Sans";
    border: 1px solid #005388;
    transition: .5s;
    font-weight: 100;
    z-index: 9999;
}

.speakers-innar-1 ul li:hover p a {
    font-size: 13px;
    color: #005388;
    background: #fff;
    border: 1px solid #005388;
    transition: .5s;
}

/*keynote-section*/

/*nearby-section*/


.nearby-innar {
    width: 100%;
    height: 184px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.nearby-innar-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: .5s;
    opacity: 1;
}

.nearby-innar-image img {
    width: 100%;
    height: 184px;
}

.nearby-innar .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    padding: 40px 20px;
    transform-origin: left;
    transition: .5s;
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
}

.content h2 {
    margin: 10px 0;
    padding: 0;
    color: #444;
    font-size: 24px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.nearby-innar:hover .content {
    transform: rotateY(0deg);
    transition: .5s;
    opacity: 1;
}

.nearby-innar:hover .nearby-innar-image {
    transform: perspective(600px) translateX(50%);
    opacity: 0;
}

/*nearby-section*/

/*sponsors-section*/

.sponsors-innar {
    width: 100%;
    height: auto;
}

.sponsors-innar h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.sponsors-innar hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sponsors-innar-image {
    width: 100px;
    height: 100px;
    margin: auto;
}

.sponsors-innar-image a {
    width: 100%;
    height: auto;
    display: block;
}

.sponsors-innar-image a img {
    width: 100%;
    height: 100px;
}

.sponsors-innar p {
    font-size: 13px;
    color: #262626;
    font-family: "Open Sans";
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
}

.sponsors-innar p a {
    font-size: 13px;
    color: #262626;
    font-family: "Open Sans";
    font-weight: 100;
}

.sponsors-innar:hover p a {
    color: blue;
}

/*sponsors-section*/

/*Abstracts-Section*/

.abstracts-innar {
    width: 100%;
    height: auto;
}

.abstracts-innar h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.abstracts-innar hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}



/*Abstracts-Section*/

/*Bottom-To-Top-Section*/
/*top to bottom*/
#scrollToTop {
    font-size: 45px;
    color: #005388;
    position: fixed;
    right: 7%;
    bottom: 10%;
    transition: all 0.5s ease;
    z-index: 999;
}

#scrollToTop:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
}

.scroll-hide {
    transform: scale(0, 0);
}

/*top to bottom*/
/*Bottom-To-Top-Section*/

.fellowship-innar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.fellowship-innar table {
    width: 100%;
    height: auto;
}

.fellowship-innar table {
    width: 100%;
    height: auto;
}

.fellowship-innar table tr {
    transition: .5s;
}

.fellowship-innar table tr:hover td {
    color: #006fec;
    transition: .5s;
}

.fellowship-innar table td {
    padding: 10px 5px;
    font-family: "Open Sans";
    color: #262626;
    font-size: 14px;
    transition: .5s;
    border: 1px solid #ccc;
}

/*Form*/

.about-innar-content-form {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.about-innar-content-txt {
    height: 30px;

    border: 1px solid #aaa;
    outline: none;
    font-weight: 100;
    font-family: "Open Sans";
    font-size: 14px;
    color: #444;
    width: 60%;
    float: right;
    margin-bottom: 10px;
}

.about-innar-content-txtarea {
    height: 100px;
    background: #fff;
    border: 1px solid #aaa;
    outline: none;
    padding-top: 10px;
    font-weight: 100;
    font-family: "Open Sans";
    font-size: 14px;
    color: #444;
    width: 60%;
    float: right;
    margin-bottom: 10px;
}

.about-innar-content-slct {
    height: 30px;
    width: auto;
    background: #fff;
    border: 1px solid #aaa;
    outline: none;
    font-weight: 100;
    font-family: "Open Sans";
    font-size: 14px;
    color: #444;
    float: left;
    cursor: pointer;
}

.about-innar-content-cat {
    height: 30px;
    float: left;
    width: 60%;
    margin-top: 0;
    padding: 10px 0;
    /* margin-right: 20px; */
}

.about-innar-content-in {
    height: 30px;
    cursor: pointer;
    display: inline-flex;
    margin-top: 0;
    margin-right: 10px;
}

.about-innar-content-in h3 {
    font-weight: 100;
    font-family: "Open Sans";
    font-size: 14px;
    color: #444;
    margin-right: 10px;
    font-weight: 600;
    margin-top: 0;
}

.about-innar-content-lbl {
    width: 100%;
    margin-bottom: 0px;
}

.about-innar-content-lbl img {
    width: 170px;
    height: 34px;
    margin: 10px 0;
}

.bg {
    background: rgba(0, 83, 136, 0.2);
    padding: 20px 0;
}

.about-innar-content-btn {
    padding: 8px 20px;
    background: #005388;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    font-family: "Open Sans";
    font-weight: 100;
    margin-top: 10px;
}

.about-innar-content-lbl h2 {
    width: 40%;
    float: left;
    font-family: "Open Sans";
    font-size: 14px;
    color: #444;
    margin-top: 0;
    font-weight: 500;
    position: relative;
    margin: 6px 0px;
    line-height: 25px;
    padding-right: 20px;
    text-align: left;
}

.about-innar-content-lbl h2 span {
    color: red;
}

.about-innar-content-lbl h2:after {
    float: right;
    content: ':';
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 0;
}

/*Form*/