/*navigation-section*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu {
    font-family: 'Muli', sans-serif;
    /*	background: #005388;*/
}

#cssmenu>ul>li {
    float: left;
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right>ul>li {
    float: right;
}

#cssmenu>ul>li>a {
    padding: 10px 18px;
    font-size: 12px;
    text-decoration: none;
    /* margin-right: 20px; */
    color: #005388;
    font-weight: 700;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    border-bottom: 2px solid #fff;
    transition: .3s;
}

#cssmenu>ul>li.active>a {
    /* background: #f1f1f1; */
    color: #005388;
    border-bottom: 2px solid #005388;
}

#cssmenu>ul>li:hover>a {
    border-bottom: 2px solid #005388;
    transition: .3s;
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 30px;
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu li:hover>ul {
    left: auto;
}

#cssmenu.align-right li:hover>ul {
    left: auto;
    right: 0;
}

#cssmenu li:hover>ul>li {
    height: 35px;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #cecece;
    font-weight: 400;
    background: #0e4c92;
    font-family: 'Muli', sans-serif;
}


#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0;
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: #0e4c92;
    background: #cecece;
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu.align-right ul ul li.has-sub>a:after {
    right: auto;
    left: 11px;
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub>a:before {
    right: auto;
    left: 14px;
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0;
}

@media all and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min-resolution: 192dpi) and (max-width: 1024px),
only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }

    #cssmenu ul {
        width: 100%;
        display: none;
    }

    #cssmenu.align-center>ul {
        text-align: left;
    }

    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid rgba(120, 120, 120, 0.2);
    }

    #cssmenu ul ul li,
    #cssmenu li:hover>ul>li {
        height: auto;
    }

    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
    }

    #cssmenu>ul>li {
        float: none;
    }

    #cssmenu ul ul li a {
        padding-left: 25px;
    }

    #cssmenu ul ul ul li a {
        padding-left: 35px;
    }

    #cssmenu ul ul li a {
        color: #dddddd;
        background: none;
    }

    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li.active>a {
        color: #ffffff;
    }

    #cssmenu ul ul,
    #cssmenu ul ul ul,
    #cssmenu.align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }

    #cssmenu>ul>li.has-sub>a:after,
    #cssmenu>ul>li.has-sub>a:before,
    #cssmenu ul ul>li.has-sub>a:after,
    #cssmenu ul ul>li.has-sub>a:before {
        display: none;
    }

    #cssmenu #menu-button {
        display: block;
        padding: 17px;
        color: #dddddd;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }

    #cssmenu #menu-button:after {
        position: absolute;
        top: 22px;
        right: 17px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: '';
    }

    #cssmenu #menu-button:before {
        position: absolute;
        top: 16px;
        right: 17px;
        display: block;
        height: 2px;
        width: 20px;
        background: #dddddd;
        content: '';
    }

    #cssmenu #menu-button.menu-opened:after {
        top: 23px;
        border: 0;
        height: 2px;
        width: 15px;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #cssmenu #menu-button.menu-opened:before {
        top: 23px;
        background: #ffffff;
        width: 15px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        height: 46px;
        width: 46px;
        cursor: pointer;
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626;
    }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #ffffff;
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '';
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }
}

/*navigation-section*/

/*three-box-section*/
.three-main {
    width: 100%;
    height: auto;
}

.three-innar {
    width: 100%;
    height: fit-content;

    padding: 10px 10px 40px 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 40px;
    background: #fff;
    overflow: scroll;
    overflow-x: hidden;
}

.three-innar h1 {
    font-size: 14px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
}

.three-innar h1 span {
    font-size: 16px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin-left: 12px;
    text-transform: uppercase;
}

.three-innar h1 i {
    font-size: 16px;
    color: #005388;
    margin-right: 5px;
}

.three-innar hr {
    width: 100%;
    height: 2px;
    background: #ccc;
    margin-bottom: 15px;
    margin-top: 15px;
}

.three-content {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.three-content h2 {
    font-size: 14px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
}

.three-content p {
    font-size: 13px;
    color: #444;
    font-family: "Open Sans";
    line-height: 23px;
    text-align: justify;
    /* padding-left: 0; */
    padding: 10px;
    background: #dbf1ff;
    box-shadow: 0px 0px 8px -2px #262626;
    /* border: 1px solid #ccc; */
}

.three-content p img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 10px;
}

.three-content p a {
    font-size: 14px;
}

.three-content p span {
    font-size: 13px;
    color: #444;
    font-family: "Open Sans";
    line-height: 23px;
    text-align: justify;
}

.three-content p a:hover {
    text-decoration: underline !important;
}

.three-innar ul {
    padding: 0;
    margin: 0;
}

.three-innar ul li {
    display: inline-block;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.three-innar ul li h2 {
    font-size: 14px;
    color: #292929;
    font-weight: 600;
    transition: .5s;
    font-family: 'Muli', sans-serif;
}

.three-innar ul li span {
    font-size: 12px;
    color: #aaa;
    letter-spacing: 1px;
}

.three-innar ul li:hover h2 {
    color: #006fec;
    transition: .5s;
    padding-left: 3px;
}

.three-innar-2 {
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 40px;
    background: #fff;
}

/*.three-innar-2 ul {
	padding: 0;
	margin: 0;
}
.three-innar-2 ul li {
	display: inline-block;
	list-style: none;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 10px 0;
	margin-bottom: 5px;
	border-left: 1px solid #005388;
}
.three-innar-2 ul li a {
	font-size: 14px;
	color: #444;
	font-weight: 600;
	display: block;
	font-family: 'Muli', sans-serif;
	transition: .5s;
	z-index: 9999;
	padding-left: 10px;
}
.three-innar-2 ul li a:after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: .5s;
	background: rgba(0,83,136,0.5);
	z-index: 1;
}
.three-innar-2 ul li:Hover a:after {
	transition: .5s;
	left: 0%;
}*/
/*three-box-section*/

/*banner-section*/
/*----- banner -----*/
.carousel-inner,
.carousel-inner .item {
    height: 100%;
    width: 100%;
}

.carousel-fade .carousel-inner>.item {
    transition-property: opacity;
}

.carousel-fade .carousel-inner>.item,
.carousel-fade .carousel-inner>.item.active.left {
    opacity: 0;
}

.carousel-fade .carousel-inner>.item.active,
.carousel-fade .carousel-inner>.item.next.left {
    opacity: 1;
}

.carousel-fade .carousel-inner>.next,
.carousel-fade .carousel-inner>.prev,
.carousel-fade .carousel-inner>.active.left,
.carousel-fade .carousel-inner>.active.right {
    left: 0;
}

.carousel-fade .carousel-inner>.item.next,
.carousel-fade .carousel-inner>.item.active.right,
.carousel-fade .carousel-inner>.item.prev,
.carousel-fade .carousel-inner>.item.active.left {
    transform: translate3d(0, 0, 0);
}

.carousel-fade {
    opacity: 1;
    z-index: 200;
}

.carousel-caption {
    text-align: center;
    top: 41%;
    left: 44%;
    right: 10%;
    line-height: 50px;
}

.carousel-caption h2 {
    font: 60px 'OpenSans-Regular';
    color: #FAF4F4;
    padding: 15px;
    width: 100%;
    margin: auto;
    border-radius: 2px;
}

.carousel-caption h2 img {
    width: 300px;
    height: 400px;
}

.slides .carousel-caption h3 span {
    color: #fcc038;
}

.carousel-caption p {
    font: 15px 'OpenSans-Regular';
    text-align: center;
    color: #fff;
    width: 70%;
    margin: auto;
    margin-bottom: auto;
    padding: 0px;
    margin-bottom: 30px;
    border-radius: 2px;
}

@media only screen and (min-width:1000px) and (max-width:1150px) {
    .carousel-caption h3 {
        font-size: 15px;
        width: 60%;
    }

    .carousel-caption p {
        font-size: 13px;
        width: 100%;
    }
}

@media only screen and (min-width:800px) and (max-width:999px) {
    .slides .carousel-caption h3 {
        font-size: 25px;
        width: 60%;
    }
}

@media only screen and (min-width:768px) and (max-width:799px) {
    .carousel-caption h3 {
        font-size: 13px;
        width: 90%;
    }

    .carousel-caption p {
        font-size: 13px;
        width: 100%;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .carousel-caption h3 {
        font-size: 14px;
        width: 100%;
        margin: 0px 0px 5px;
    }

    .carousel-caption p {
        font-size: 13px;
        width: 100%;
        margin: 0px 0px 5px;
    }
}

@media only screen and (min-width:360px) and (max-width:479px) {
    .carousel-caption h3 {
        font-size: 14px;
        width: 90%;
        margin: 0px 0px 5px;
        padding: 6px 10px;
    }

    .carousel-caption p {
        font-size: 11px;
        width: 94%;
        margin: 0px 0px 5px;
        padding: 5px 9px;
    }

    .carousel-caption {
        text-align: left;
        top: 5%;
        left: 13%;
    }
}

@media only screen and (min-width:300px) and (max-width:359px) {
    .carousel-caption p {
        width: 100%;
        font: 13px "OpenSans-Regular";
    }

    .carousel-caption {
        text-align: left;
        top: 0%;
        left: 13%;
    }

    .carousel-caption h3 {
        width: 100%;
        font: 13px "OpenSans-Regular";
    }
}

/*----- banner -----*/



/*banner-section*/


/*Speakers-Section*/
.speakers-innar {
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    margin-bottom: 40px;
    background: #fff;
    margin-top: 20px;
}

.speakers-innar h1 {
    font-size: 14px;
    color: #005388;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
}

.speakers-innar hr {
    width: 100%;
    height: 2px;
    background: #ccc;
    margin-bottom: 15px;
    margin-top: 15px;
}

.speakers-innar ul {
    padding: 0;
    margin: 0;
}

.speakers-innar ul li {
    list-style: none;
    display: inline-block;
    width: 32.1%;
    height: auto;
    padding: 10px;
    background: #dbf1ff;
    position: relative;
    overflow: hidden;
    margin: 0px 2px;
}

.speakers-innar ul li:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: -150%;
    transform: skew(30deg);
    transition: .5s;
    z-index: 9999;
}

.speakers-innar ul li:hover:before {
    left: 150%;
    transition: .5s;
}

.speakers-innar ul li:hover p {
    transition: .5s;
    color: #005388;
}

.speakers-innar ul li img {
    width: 100%;
    height: 157px;
}

.speakers-innar ul li p {
    font-size: 14px;
    color: #444;
    font-family: "Open Sans";
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    transition: .5s;
}

.speakers-innar ul li p span {
    font-size: 13px;
    color: #aaa;
    font-weight: 100;
    font-family: "Open Sans";
}

.speakers-innar ul li p a {
    font-size: 13px;
    color: #fff;
    background: #005388;
    padding: 5px;
    font-family: "Open Sans";
    border: 1px solid #005388;
    transition: .5s;
    font-weight: 100;
    z-index: 9999;
}

.speakers-innar ul li:hover p a {
    font-size: 13px;
    color: #005388;
    background: #fff;
    border: 1px solid #005388;
    transition: .5s;
}

/*Speakers-Section*/






/*marquee-section*/


.marqu-main {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: none;
}

/*marquee-section*/




/*banner-strip-section*/
.banner-strip {
    width: 100%;
    height: auto;
    background: url(../images/subpage_bg.jpg);
    padding: 30px 0;
    background-position: top center;
}

.banner-strip-innar {
    width: 100%;
    height: auto;
}

.banner-strip-innar h1 {
    font-size: 30px;
    color: #444;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

/*banner-strip-section*/







/*Abstracts-Section*/
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.panel-group {
    padding: 0;
    margin: 0;
}

.panel-default {
    border: none;
    background: none;
    margin-bottom: 0;
    padding-bottom: 14px;
    border-radius: 0 !important;
    padding: 10px;
    border: 1px solid #ccc;
}

.panel-default>.panel-heading {
    border: none;
    background: none;
    padding: 0;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border: none;
    padding: 0 0 0 32px;
}

.panel-default h5 {
    font: 100 16px 'Muli', sans-serif;
    padding: 0;
    margin: 0 0 5px;
    line-height: 25px;
}

.panel-group .panel+.panel {
    margin-top: 15px;
}

.panel-default .accordion-toggle:before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background: #005388 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.panel-default .collapsed:before {
    background: #262626 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}

.panel-default .panel-title:hover .collapsed:before {
    background-color: #005388;
}

.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
    color: #1ea9e3;
    text-decoration: none;
    display: block;
}

.panel-default .collapsed {
    color: #5f6f7e;
    display: block;
}

.panel-body h2 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.panel-body p {
    font-size: 13px;
    color: #262626;
    line-height: 25px;
    font-family: "Open Sans";
    font-weight: 100;
    margin: 5px 0;
}

/*Abstracts-Section*/



/*side-tabs-section*/
nav {}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

nav li,
nav .nav-toggle {
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

/*nav .dropdown > a:after {
	content: 'V';
	position: absolute;
	right: 15px;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: -webkit-transform 0.2s ease;
	transition: transform 0.2s ease;
}*/
nav .dropdown.open,
.desktop nav li:hover {
    background: rgba(0, 83, 136, 0.5);
}

nav .dropdown.open,
.desktop nav li a:hover {
    color: #fff;
}

/*nav .dropdown.open > a:after, .desktop nav li:hover > a:after {
	-webkit-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1);
}*/
nav .dropdown ul {
    position: relative;
    background-color: #fff;
    display: none;
}

nav a {
    display: block;
    padding: 10px 15px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    color: #444;
    font-weight: 600;
}

.desktop nav {
    width: 100%;
}

.desktop nav li {
    text-align: left;
    display: inline-block;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ccc;

}

.desktop nav li:hover ul {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
}

/*.desktop nav .dropdown:hover > a:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.desktop nav .dropdown > a:after {
	content: '>';
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.2s ease;
	transition: transform 0.2s ease;
}*/
.desktop nav .dropdown ul {
    top: 0;
    right: 250px;
    position: absolute;
    display: block !important;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    width: 225px;
    z-index: 9999999;
}

.desktop nav .nav-toggle {
    display: none;
}






/*side-tabs-section*/






/*Blinking-Text*/

.blinking {
    animation: blinkingText 1.1s infinite;
}

@keyframes blinkingText {
    0% {
        color: #005388;
    }

    49% {
        color: #ddd;
    }

    50% {
        color: #444;
    }

    99% {
        color: #fff;
    }

    100% {
        color: #000;
    }
}




/*Blinking-Text*/


.kyc-box2 {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
}

.kyc-box2 h2 {
    font: 14px 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    margin: 0px;
    font-weight: 500;
    padding: 5px;
    background: #005388;
}

.kyc-box2 ul {
    margin: 0px;
    padding: 0px;
}

.kyc-box2 ul li {
    list-style-type: none;
    border-right: 2px solid #fff;
    margin-top: 10px;
}

.kyc-box2 ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444;
    display: block;
}

.kyc-box2 ul li a i {
    padding-right: 5px;
}

.kyc-box2 ul li a img {
    width: 17px;
    height: 17px;
    display: inline-block;

    margin-right: 10px;

}

.kyc-box2 ul li:hover a {
    color: #005388;
}

.kyc-box2 ul li:hover a img {
    filter: grayscale(1);
}

.three-innar-2 h1 {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #005388;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 0;
}

.three-innar-2 hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.three-innar-2 p {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
}